<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="base :: navlinks"></div>
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid, at atque autem consequuntur cupiditate eius esse exercitationem libero, maiores nemo nisi perspiciatis praesentium quibusdam quod ratione, recusandae reprehenderit tempora.</p>
    <div th:replace="base :: footer"></div>
</body>
</html>